{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="{% static 'core/style.css' %}">

</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">###</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">    Главная   </a></li>
        <li class="active"><a href="{% url 'contact' %}">   Контакты   </a></li>
        <li class="active"><a href="{% url 'about' %}">   О компании   </a></li>
        <li class="active"><a href="{% url 'payment' %}">   Оплата и доставка   </a></li>
        <li class="active"><a href="{% url 'guaranty' %}">   Гарантии   </a></li>
      </ul>
  </div>
</nav>

<body>
{% block content%}
{%endblock%}
</body>
</html>