{% extends 'core/base.html' %}
{%block content%}
    <h3>КАТАЛОГ ОБОРУДОВАНИЯ</h3>


<div class="todo-list">
{% for category in category_list %}

<div class="item-row">
	 <div class="dropdown">
    <button class="dropbtn">{{category.name}}
      <i class="fa fa-caret-down"></i>
    </button>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
  </div>
</div>
	<div>
	<a class="btn" style="color:black;background-color:white" href="#">Обновить</a>
		</div>
	<br>

{% endfor %}
		<div class="item-row">
				<a href="{% url 'new_category' %}"><button class="btn btn-success" style="background-color:black" type="submit">+</button></a>
		</div>
</div>

{% endblock %}